@{Layout = null;}
@using Falcon_Bug_Tracker.Models
@model LoginViewModel


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Log In | Casteel Issue Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured issue tracker built on .NET MVC 5" name="description" />
    <meta content="Bug Tracker" name="Josh Casteel" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/Images/favicon.png">

    <!-- App css -->
    <link href="~/Content/icons.min.css" rel="stylesheet" />
    <link href="~/Content/app.min.css" rel="stylesheet" />


</head>

<body class="loading authentication-bg">
    <div class="account-pages mt-5 mb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card">

                        <!-- Logo -->
                        <div class="card-header pt-4 pb-4 text-center bg-primary">
                            <a href="index.html">
                                <span><img src="~/Images/logo.png" height="36"></span>
                            </a>
                        </div>

                        <div class="card-body p-4">

                            <div class="text-center w-75 m-auto">
                                <h4 class="text-dark-50 text-center mt-0 font-weight-bold">Demo Logins</h4>
                                <hr />
                            </div>

                            @using (Html.BeginForm("DemoLoginAsync", "Account", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()


                                <div class="form-group mb-2 text-center">
                                    <button class="btn btn-primary w-100" type="submit" name="emailKey" value="DemoAdminEmail"> Demo Admin </button>
                                </div>
                                <div class="form-group mb-2 text-center">
                                    <button class="btn btn-success w-100" type="submit" name="emailKey" value="DemoPMEmail"> Demo Project Manager </button>
                                </div>
                                <div class="form-group mb-2 text-center">
                                    <button class="btn btn-info w-100" type="submit" name="emailKey" value="DemoDevEmail"> Demo Developer </button>
                                </div>
                                <div class="form-group mb-2 text-center">
                                    <button class="btn btn-secondary w-100" type="submit" name="emailKey" value="DemoSubEmail"> Demo Submitter </button>
                                </div>

                            }
                        </div> <!-- end card-body -->
                    </div>
                    <!-- end card -->

                    <div class="row mt-3">
                        <div class="col-12 text-center">
                            <p class="text-muted">Don't have an account? <a href="@Url.Action("Register", "Account")" class="text-muted ml-1"><b>Sign Up</b></a></p>
                        </div> <!-- end col -->
                    </div>
                    <!-- end row -->

                </div> <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end page -->

    <footer class="footer footer-alt">
        @DateTime.Now.Year © Josh Casteel
    </footer>

    <!-- bundle -->
    <script src="~/Scripts/vendor.min.js"></script>
    <script src="~/Scripts/app.min.js"></script>

</body>
</html>
